---
---

@import 'breakpoint';

$app-large-width: 960px;

// Breakpoints
$small-only: (max-width 40em);
$medium: 40.063em 64em;
$touch: (max-width 64em);
$medium-up: 40.063em;
$large: 64.063em;

$sans-serif: Arial, sans-serif;
$serif: Georgia, 'Times New Roman', Times, serif;

$std-sans: neusa-next-std, sans-serif;
$compact-sans: neusa-next-std-compact, sans-serif;
$condensed-sans: neusa-next-std-condensed, sans-serif;
$wide-sans: neusa-next-std-wide, sans-serif;

$main-color: #333;

@import 'base';
@import 'dash';
@import 'main';
@import 'button';
@import 'form';
@import 'columns';
@import 'header';

@import 'custom-elements';
@import 'page-loader';
@import 'homepage';
@import 'results';
@import 'about';