.homepage {

  &__header {
    @extend .wrapper;
    padding-top: 34px;
    padding-bottom: 558px;
    background-image: url('/images/hero.svg');
    background-repeat: no-repeat;
    background-size: 50%; 
    background-position: 40% 75%;
    text-align: center;
    font-family: $compact-sans;
    font-weight: 300;

    @include breakpoint($large) {
      background-size: 45%; 
      text-align: inherit;
      background-position: right 55%;
      padding-right: ($app-large-width * 0.52);
      padding-bottom: 186px;
    }

    h2 {
      color: #9c1f61;
      font-size: 1.75em;
      font-weight: 400;
      text-transform: uppercase;

      @include breakpoint($large) {
        font-size: 2.375em;
      }
    }

    h1 {
      font-size: 3em;
      color: #000000;

      @include breakpoint($large) {
        font-size: 4em;
      }
    }

    p {
      font-size: 1.25em;
      line-height: 30px;
      color: #000000;

      @include breakpoint($large) {
        font-size: 1.5em;
        line-height: 34px;
      }
    }
  }

  &__file-selection {
    background-color: #9c1f61;
    padding: 24px 4px 36px 4px;

    @include breakpoint($large) {
      padding: 48px 100px 66px 100px;
    }

    &__upload {
      text-align: center;
      padding: 32px 0;
      cursor: pointer;

      .text {
        font-family: $compact-sans;
        color: rgba(0, 0, 0, 0.46) !important;
        font-size: 1.5em;
        font-weight: 300;
        letter-spacing: 0.33px;
        line-height: 22px;
        padding: 0;
      }

      &-icon {
        position: relative;
        color: #9c1f61 !important;
        font-family: 'Material Icons' !important;
        font-weight: normal !important;
        font-style: normal !important;
        font-size: 42px !important;
        line-height: 1 !important;
        letter-spacing: normal !important;
        text-transform: none !important;
        display: inline-block !important;
        white-space: nowrap !important;
        word-wrap: normal !important;
        direction: ltr !important;
        -webkit-font-feature-settings: 'liga' !important;
        -webkit-font-smoothing: antialiased !important;
        padding: 0 16px !important;

        @include breakpoint($large) {
          &::before, &::after {
            width: 233%;
          }
          &::before {
            left: -233%;
          }
        }

        &::before, &::after {
          position: absolute;
          content: '';
          width: 77%;
          height: 1px;
          background-color: #9c1f61;
          top: 50%;
        }

        &::after {
          left: 100%;
        }

        &::before {
          left: -77%;
        }
      }
    }

    &__zone {
      background-color: #f2f2f2;
      text-align: center;

      .button {
        border: 1px solid #9c1f61;
        background-color: #9c1f61;
        outline: 0;
        cursor: pointer;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
        padding: 12px 32px 8px 32px;
        color: #ffffff;
        font-family: $compact-sans;
        font-size: 1.25em;
        font-weight: 300;
        letter-spacing: 0.33px;
        line-height: 24px;
        transform: translateY(-50%);
        transition: background-color 0.23s ease-in-out, box-shadow 0.23s ease-in-out;

        @include breakpoint($large) {
          padding: 12px 136px 8px 136px;
          font-size: 1.5em;
        }

        &:hover {
          background-color: #a5286b;
          box-shadow: 2px 2px 16px rgba(165, 40, 107, 0.5);
        }
      }
    }

    &__wrapper {
      @extend .wrapper;
      background-color: #ffffff;
      box-shadow: 0 10px 24px rgba(0, 0, 0, 0.25);
      margin-top: -184px;

      p {
        color: #0b2833;
        font-family: $compact-sans;
        font-size: 1.25em;
        font-weight: 300;
        letter-spacing: 0.44px;
        line-height: 30px;
        padding: 32px 12px;
        text-align: center;

        @include breakpoint($large) {
          font-size: 2em;
          line-height: 44px;
          padding: 88px 54px;
        }
      }
    }
  }

  &__data-sources {
    @extend .wrapper;
    padding: 32px 4px;
    text-align: center;
    font-family: $compact-sans;
    font-size: 1.25em;
    font-weight: 300;
    color: #000000;
    line-height: 30px;

    @include breakpoint($large) {
      padding: 58px 220px;
      font-size: 1.5em;
      line-height: 34px;
    }

    h2 {
      text-transform: uppercase;
      font-weight: 400;
      margin-bottom: 12px;
      font-size: 1.25em;
      line-height: 30px;

      @include breakpoint($large) {
        font-size: 1.5em;
        line-height: 34px;
        margin-bottom: 24px;
      }
    }

    a {
      position: relative;
      color: #f4831f;

      &:hover {
        color: #f4831f;

        &::after {
          transform: none;
        }
      }

      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        top: calc(100% - 4.5px);
        left: 0;
        background-color: #f4831f;
        transition: transform 0.23s ease-in-out;
        transform-origin: center;
        transform: scaleX(0);
      }
    }
  }

  &__newsletter {
    background-color: #f2f4f4;
    padding: 24px 4px 36px 4px;

    @include breakpoint($large) {
      padding: 48px 100px 66px 100px;
    }

    &__form {
      border-bottom: 1px solid #9c1f61;
      width: 100%;
      display: flex;

      input {
        padding: 8px 12px;
        color: #9c1f61;

        @include breakpoint($large) {
          padding: 18px 30px;
        }
      }
      
      input[type='email'] {
        flex: 1;
        background: none;
        border: none;
        outline: 0;
        font-family: $compact-sans;
        font-size: 1.5em;
        font-weight: 300;
        letter-spacing: 0.33px;
        line-height: 24px;
      }

      input[type='submit'] {
        flex: 0;
        background: none;
        border: none;
        outline: none;
        opacity: 0.5;
        cursor: pointer;
        transition: opacity 0.13s ease-in-out;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &__data-selection {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.13s ease-in-out;

    &.hidden {
      opacity: 0;
      pointer-events: none;

      .homepage__data-selection__window {
        transform: translateY(32px);
      }
    }

    &__window {
      position: relative;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
      transition: transform 0.15s ease-in-out;
      padding-bottom: 32px;

      @include breakpoint($large) {
        height: auto;
        max-width: 980px;
        max-height: 80vh;
        padding-bottom: 0;
      }
    }

    &__highlight {
      position: relative;
      text-align: center;
      color: #9c1f61;
      font-family: $compact-sans;
      font-size: 2em;
      font-weight: 400;
      text-transform: uppercase;
      padding: 8px 0 2px 0;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    }

    &__sets {
      list-style: none;
      font-family: $compact-sans;
      padding: 16px 10px;
      overflow: auto;
      max-height: calc(100vh - 3.25em - 78px);

      @include breakpoint($large) {
        padding: 28px 64px;
        max-height: calc(80vh - 3.25em - 78px);
      }
    }

    &__set:not(:last-child) {
      border-bottom: 1px solid #9c1f61;
      margin-bottom: 12px;
    }

    &__set-name {
      color: rgba(11, 40, 51, 0.6);
      font-size: 1.5em;
      font-weight: 300;
      line-height: 24px;
    }

    &__data-list {
      list-style: none;
      
      &__item {
        position: relative;
        cursor: pointer;
        padding: 12px 0 6px 12px;

        &:hover {
          ul {
            font-weight: 400;
            transform: scale(1.01);
          }

          &::before {
            opacity: 1;
          }
        }

        &::before {
          position: absolute;
          content: '';
          width: 6px;
          height: 6.5px;
          top: 15.5px;
          left: 2px;
          background-color: #9c1f61;
          opacity: 0;
        }

        ul {
          list-style: none;
          display: flex;
          flex-direction: row;
          color: rgba(11, 40, 51, 0.6);
          text-decoration: none;
          font-style: normal;
          font-weight: 300;
          line-height: 16px;
          transform-origin: left;
          transition: transform 0.13s ease-in-out;
        }

        &__data-fixed, &__data-notfixed {
          &:not(:last-child) {
            padding-right: 24px;
          }
        }

        &__data-fixed {
          flex: 1;
        }

        &__data-notfixed {
          display: none;
          font-size: 0.75em;
          font-weight: 400;

          @include breakpoint($large) {
            display: inline-block;
          }
        }
      }
    }

    &__upload-drop {
      box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.15);
      border: 1px solid rgba(11, 40, 51, 0.2);
      background-color: rgba(11, 40, 51, 0.05);
      margin: 24px 26px 96px 26px;
      text-align: center;
      height: 73%;
      background-image: url('/images/drop-file-background.png');
      background-repeat: no-repeat;
      background-size: 25%;
      background-position: center 16.67%;
      padding: 6px 8px;

      &.highlight {
        border: 1px solid rgba(31, 156, 90, 0.2);
        background-color: rgba(31, 156, 90, 0.05);
      }

      @include breakpoint($large) {
        padding: 54px 134px;
      }

      h4 {
        font-family: $compact-sans;
        font-size: 1.5em;
        font-weight: 400;
        line-height: 28px;
        margin: 30px 0;
      }

      p {
        color: #000000;
        font-family: $compact-sans;
        font-size: 1.125em;
        font-weight: 300;
        line-height: 28px;
      }
    }

    &__upload-wrapper {
      position: absolute;
      width: 100%;
      bottom: 0;
      text-align: center;
      box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
      padding: 20px 0;
    }

    &__upload-button {
      cursor: pointer;
      background: none;
      border: 1px solid #9c1f61;
      outline: 0;
      padding: 10px 48px 6px 48px;
      color: #9c1f61;
      font-family: $compact-sans;
      font-weight: 400;
      letter-spacing: 0.33px;
      line-height: 16px;
      transition: color 0.13s ease-in-out, background-color 0.13s ease-in-out;

      &:hover {
        background-color: #9c1f61;
        color: #ffffff;
      }

      &.invalid {
        pointer-events: none;
        opacity: 0.2;
      }
    }
  }

  &__data-fetching {
    &__content {
      padding: 32px 96px 96px 96px;
    }

    &__display {
      padding: 16px 0;
      font-family: $compact-sans;
      color: #0b2833;

      &-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 16px;
  
        @include breakpoint($large) {
          flex-direction: row;
          justify-content: space-between;
        }
      }

      &-footer {
        text-align: right;
      }

      progress[value]  {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        width: 100%;
        height: 5px;
        color: #9c1f61;

        &::-webkit-progress-bar {
          background-color: rgba(156, 31, 97, 0.2);
        }

        &::-moz-progress-bar {
          background-color: rgba(156, 31, 97, 0.2);
        }

        &::-webkit-progress-value {
          background-color: #9c1f61;
        }

        &::-moz-progress-value {
          background-color: #9c1f61;
        }
      }
    }

    &__process-name, &__steps, &__display-footer {
      opacity: 0.6;
      font-size: 1em;
      font-weight: 300;
      line-height: 24px;
    }

    &__process-name {
      font-size: 1.5em;
    }
  }
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: rgba(156, 31, 97, 0.2);

  &__bar {
    position: absolute;
    height: 100%;
    background-color: #9c1f61;
    top: 0;
    left: 0;
  }
}