html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

// Typography
a {
  color: currentColor;
  text-decoration: none;
}

strong { 
  font-weight: 400; 
  opacity: .9;
}

body {
  font-family: $serif;
  letter-spacing: .5px;
  font-size: 16px;
  line-height: 1.62;
  color: $main-color;
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 999;

  &.js-active { display: block; }
}

footer {
  font-family: $compact-sans;
  background-color: #0b2833;
  color: #ffffff;
  padding-bottom: 48px;

  section {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 34px;

    @include breakpoint($touch) {
      &:last-child {
        padding-top: 28px;
        text-align: center;
      }
    }
  }
}

.wrapper {
  @include breakpoint($touch) {
    margin-left: 20px;
    margin-right: 20px;
  }

  @include breakpoint($large) {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

}

.footer {
  &__social {
    list-style: none;
    text-align: center;
    padding: 0;

    li {
      display: inline-block;
      background-color: #ffffff;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      width: 2.5em;
      height: 2.5em;
      padding-top: 0.3em;
      transform: translateY(-50%);
      color: #0b2833;

      &:not(:first-child) {
        margin-left: 30px;
      }

      img {
        height: 1.25em;
        transform: translateY(25%);
      }
    }
  }

  &__navigation {
    a {
      color: rgba(255, 255, 255, 0.6);
      transition: color 0.13s ease-in-out;

      &:hover {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }

  &__divider {
    @extend .wrapper;
    padding: 16px 4px;
    font-weight: 300;
    line-height: 34px;

    @include breakpoint($large) {
      padding: 24px 80px;
    }

    hr {
      background-color: rgba(151, 151, 151, 0.56);
      height: 1px;
      border: none;
      margin: 0;
    }

    &__columns {
      padding-top: 24px;
      display: flex;
      justify-content: center;
      flex-direction: column;

      @include breakpoint($large) {
        justify-content: space-between;
        flex-direction: row;
      }

      p {
        flex: 1;

        @include breakpoint($touch) {
          text-align: center !important;
          &:last-child {
            padding-top: 16px;
          }
        }
      }
    }
  }
}

.flex-wrapper {
  @extend .wrapper;
  display: flex;
  flex-direction: column;
  padding: 0 5px;

  @include breakpoint($large) {
    flex-direction: row;
    padding: 0 80px;
  }
}