.results-page {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-flow: column;

  &__header {
    background-color: rgba(11, 40, 51, 0.05);
    color: #0b2833;
    font-family: $compact-sans;
    font-size: 1.375em;
    font-weight: 400;
    line-height: 48px;
    padding-top: 5px;
  }

  &__app {
    flex-grow: 1;
    display: flex;
  }

  &__menu {
    flex: 27%;
    background-color: #0b2833;
    overflow: auto;
    text-align: right;
    padding: 24px 64px 24px 0;
    color: #ffffff;

    &__back {
      color: rgba(255, 255, 255, 0.4);
      font-family: $compact-sans;
      font-weight: 300;
      letter-spacing: 0.5px;
      line-height: 16px;

      i {
        font-size: 0.75rem;
      }
    }

    &__section-title {
      font-family: $compact-sans;
      font-size: 2em;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 32px;
      text-transform: uppercase;
      margin: 46px 0 8px 0;
    }

    &__subsection {
      padding: 18px 0;

      &:not(:last-child) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      }

      &-title {
        position: relative;
        font-family: $compact-sans;
        font-size: 1.5em;
        font-weight: 400;
        letter-spacing: 0.75px;
        line-height: 32px;
        cursor: pointer;
        margin: 0;

        &.js-foldable {
          user-select: none;
        }

        &.js-foldable::after {
          position: absolute;
          font-family: 'Material Icons';
          font-weight: normal;
          font-style: normal;
          font-size: 1em;
          line-height: 1;
          letter-spacing: normal;
          text-transform: none;
          white-space: nowrap;
          word-wrap: normal;
          direction: ltr;
          -webkit-font-feature-settings: 'liga';
          -webkit-font-smoothing: antialiased;
          color: #f4831f;
          width: 1em;
          height: 1em;
          top: 2px;
          right: -36px;
        }

        &.js-foldable-more::after {
          content: 'unfold_more';
        }

        &.js-foldable-less::after {
          content: 'unfold_less';
        }
      }

      &-value {
        color: rgba(255, 255, 255, 0.4);
        font-family: $compact-sans;
        font-size: 0.75em;
        font-weight: 300;
        letter-spacing: 0.38px;
        line-height: 16px;
        margin: 0;
      }
    }

    &__checkbox {
      font-family: $compact-sans;
      font-weight: 300;
      letter-spacing: 0.5px;
      line-height: 16px;
      color: rgba(255, 255, 255, 0.4);

      li {
        position: relative;
        padding: 7px 0;
      }

      label {
        cursor: pointer;
        user-select: none;

        &::after {
          position: absolute;
          font-family: 'Material Icons';
          font-weight: normal;
          font-style: normal;
          font-size: 1em;
          line-height: 1;
          letter-spacing: normal;
          text-transform: none;
          white-space: nowrap;
          word-wrap: normal;
          direction: ltr;
          -webkit-font-feature-settings: 'liga';
          -webkit-font-smoothing: antialiased;
          content: 'add';
          width: 1em;
          height: 1em;
          top: 7px;
          right: -32px;
        }
      }

      input[type='checkbox']:checked + label {
        color: #f4831f;

        &::after {
          content: 'remove';
        }
      }

      input[type='checkbox'] {
        opacity: 0;
        pointer-events: none;
      }
    }

    &__select-list {
      background: none;
      border: none;
      border-bottom: 1px solid #f4831f;
      color: #ffffff;
      font-family: $compact-sans;
      font-weight: 300;
      letter-spacing: 0.5px;
      line-height: 16px;
      padding: 6px 24px 6px 12px;
      width: 66.67%;
      text-align: right;
      -moz-appearance: none; /* Firefox */
      -webkit-appearance: none; /* Safari and Chrome */
      appearance: none;
      direction: rtl;

      option {
        font-family: sans-serif;
        font-size: 0.875em;
      }

      &__wrapper {
        position: relative;

        &::after {
          position: absolute;
          content: 'expand_more';
          width: 1em;
          height: 1em;
          top: 6px;
          right: 4px;
          font-family: 'Material Icons';
          font-weight: normal;
          font-style: normal;
          font-size: 1em;
          line-height: 1;
          letter-spacing: normal;
          text-transform: none;
          white-space: nowrap;
          word-wrap: normal;
          direction: ltr;
          -webkit-font-feature-settings: 'liga';
          -webkit-font-smoothing: antialiased;
          pointer-events: none;
          z-index: 0;
        }
      }
    }

    &__range-select {
      width: 100%;
      display: flex;
      padding-bottom: 8px;

      li {
        position: relative;
        flex: 1;
        height: 25px;
        min-width: 40px;

        &:not(:last-child) {
          margin: 0 2px 0 0;
        }
      }

      label {
        cursor: pointer;
        user-select: none;
        color: rgba(244, 131, 31, 0);
        font-family: $compact-sans;
        font-size: 0.75em;
        font-weight: 300;
        letter-spacing: 0.38px;
        line-height: 16px;

        &::before {
          position: absolute;
          content: '';
          width: 100%;
          height: 16px;
          background-color: rgba(255, 255, 255, 0.15);
          top: 90%;
          left: 0;
        }
      }

      input[type='checkbox']:checked + label {
        &::before {
          background-color: #f4831f;
        }
      }

      input[type='checkbox'] {
        opacity: 0;
        pointer-events: none;

        &.show-label + label {
          color: #f4831f;
        }
      }
    }
  }

  &__body {
    flex: 73%;
    overflow: auto;

    &__section-title {
      color: #0b2833;
      font-family: $compact-sans;
      font-size: 1.5em;
      font-weight: 400;
      letter-spacing: 0.75px;
      line-height: 32px;
      margin: 32px 0 8px 0;
    }

    &__content {
      padding: 60px 100px;

      &__grants-made-by {
        color: #808285;
        font-family: $wide-sans;
        font-weight: 300;
        line-height: 16px;
      }

      &__title {
        color: #9c1f61;
        font-family: $compact-sans;
        font-size: 3em;
        font-weight: 300;
        line-height: 48px;

        .between {
          color: #808285;
          font-family: $wide-sans;
          font-size: 1rem;
          font-weight: 300;
          line-height: 16px;
        }

        .date {
          color: #f4831f;
        }
      }

      &__spheres {

      }

      &__sphere {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 50%;
        color: #ffffff;
        width: 12em;
        height: 12em;
        text-align: center;
        margin: 32px 32px 0 0;

        p {
          font-family: $wide-sans;
          font-size: 2.875em;
          font-weight: 300;
          line-height: 52.64px;

          .currency {
            font-size: 1.875rem;
            font-weight: 400;
          }
        }

        h4 {
          font-family: $compact-sans;
          font-size: 1.5em;
          font-weight: 400;
          line-height: 22.56px;
          text-transform: uppercase;
        }
      }
    }
  }
}

.js-foldable-target {
  transition: max-height 0.23s ease-in-out, opacity 0.23s ease-in-out;

  &.js-foldable-foldTarget {
    opacity: 0;
    pointer-events: none;
    max-height: 0 !important;
    overflow: hidden;
  }
}