---
layout: homepageLayout
title: Boilerplate
---
{% include _loader.html %}

{% include _datasetSelection.html %}

{% include _datasetUpload.html %}

{% include _datasetFetching.html %}

<div class="homepage__header">
  <img src="images/360-insights-color.png" width="256" /><br />
  <h2>Discover</h2>
  <h1>Grantmaking Insights</h1>
  <p>
    The 360Giving Insights tool will check the data for recipients with charity or company numbers and combine extra data about them, like information based on the recipients’ postcode.
  </p>
</div>

<div class="homepage__file-selection">
  <div class="homepage__file-selection__wrapper">
    <p>
      Select one of our datasets<br />or upload a file that meets the 360Giving Standard.
    </p>
    <div class="homepage__file-selection__zone">
      <button class="button js-choose-dataset-btn">Choose a dataset</button>
      <div class="homepage__file-selection__upload js-upload-dataset-btn">
        <p class="text">Upload a file...</p>
        <p class="homepage__file-selection__upload-icon">cloud_upload</p>
      </div>
    </div>
  </div>
</div>

<div class="homepage__data-sources">
  <div style="display:inline-block;text-align:left;">
    <h2>Data sources</h2>
    <p>
      Charity data is sourced from <a href="https://findthatcharity.uk">findthatcharity.uk</a> and postcode data from <a href="https://postcodes.findthatcharity.uk">postcodes.findthatcharity.uk</a>. Company data is fetched using Companies House URIs. All external data is used under the <a href="#">Open Government Licence</a>.
    </p>
  </div>
</div>

<div class="homepage__newsletter">
  <div class="wrapper">
    <form class="homepage__newsletter__form">
      <input type="email" name="email" placeholder="Signup for our Newsletter..." />
      <input type="submit" value="send" />
    </form>
  </div>
</div>

{% include _footer.html %}