---
layout: default
title: Boilerplate
---
{% include _loader.html %}

<div class="homepage__data-selection hidden js-homepage-dataset-selection-window">
  <div class="homepage__data-selection__window">
    <div class="homepage__data-selection__highlight">
      Datasets
      <div class="close-button js-homepage-dataset-selection-window-close"></div>
    </div>
    <ul class="homepage__data-selection__sets">
      {% for dataset in site.data.datasets %}
        <li class="homepage__data-selection__set">
          <h4 class="homepage__data-selection__set-name">{{ dataset.title }}</h4>
          <ul class="homepage__data-selection__data-list">
            {% for data in dataset.content %}
              <li class="homepage__data-selection__data-list__item">
                <ul>
                  <li class="homepage__data-selection__data-list__item__data-fixed">{{ data.name }}</li>
                  <li class="homepage__data-selection__data-list__item__data-notfixed">{{ data.records }} Records</li>
                  <li class="homepage__data-selection__data-list__item__data-notfixed">{{ data.dateRange }}</li>
                  <li class="homepage__data-selection__data-list__item__data-notfixed">{{ data.amount }}</li>
                </ul>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="homepage__data-selection hidden js-homepage-dataset-upload-window">
    <div class="homepage__data-selection__window">
      <div class="homepage__data-selection__highlight">
        Upload Data
        <div class="close-button js-homepage-dataset-upload-window-close"></div>
      </div>
      <div class="homepage__data-selection__upload-drop highlight">
        <h4>
          Drop your file here
        </h4>
        <p>
          <span style="color:#9c1f61;font-weight:400;">Data Privacy Information:</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="homepage__data-selection__upload-wrapper">
        <button class="homepage__data-selection__upload-button js-dataset-upload">Upload file</button>
      </div>
    </div>
  </div>

<div class="homepage__header">
  <img src="images/360-insights-logo.png" /><br />
  <h2>Discover</h2>
  <h1>Grantmaking Insights</h1>
  <p>
    The 360Giving Insights tool will check the data for recipients with charity or company numbers and combine extra data about them, like information based on the recipients’ postcode.
  </p>
</div>

<div class="homepage__file-selection">
  <div class="homepage__file-selection__wrapper">
    <p>
      Select one of our datasets<br />or upload a file that meets the 360Giving Standard.
    </p>
    <div class="homepage__file-selection__zone">
      <button class="js-choose-dataset-btn">Choose a dataset</button>
      <div class="homepage__file-selection__upload js-upload-dataset-btn">
        <p class="text">Upload a file...</p>
        <p class="homepage__file-selection__upload-icon">cloud_upload</p>
      </div>
    </div>
  </div>
</div>

<div class="homepage__data-sources">
  <div style="display:inline-block;text-align:left;">
    <h2>Data sources</h2>
    <p>
      Charity data is sourced from <a href="findthatcharity.uk">findthatcharity.uk</a> and postcode data from <a href="postcodes.findthatcharity.uk">postcodes.findthatcharity.uk</a>. Company data is fetched using Companies House URIs. All external data is used under the <a href="#">Open Government Licence</a>.
    </p>
  </div>
</div>

<div class="homepage__newsletter">
  <div class="wrapper">
    <form class="homepage__newsletter__form">
      <input type="email" name="email" placeholder="Signup for our Newsletter..." />
      <input type="submit" value="send" />
    </form>
  </div>
</div>

<footer>
  <ul class="footer__social">
    <li><a href="#"><img src="/images/icon-github.png" title="Github" /></a></li>
    <li><a href="#"><img src="/images/icon-twitter.png" title="Twitter" /></a></li>
  </ul>
  <div class="flex-wrapper">
    <section>
      <div>
        MORE<br />INFORMATION
        <ul class="footer__navigation">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Tools</a></li>
        </ul>
      </div>
    </section>
    <section>
      <ul class="footer__navigation">
        <li><a href="#">Privacy Notice</a></li>
        <li><a href="#">Terms &amp; Conditions</a></li>
        <li><a href="#">License</a></li>
      </ul>
    </section>
    <section>
      <p style="font-weight:300;">
        <img src="/images/360footer.png" /><br />
        A quick line of text about 360Giving.
      </p>
    </section>
  </div>
  <div class="footer__divider">
    <hr />
    <div class="footer__divider__columns">
      <p>
        Cookie Policy | Take Down Policy
      </p>
      <p style="text-align:right;">
        360Giving is a company limited by guarantee 09668396 and a registered charity 1164883.
      </p>
    </div>
  </div>
</footer>